@using Blazored.LocalStorage;
@using MyBlazorApp.Components;
@inherits LayoutComponentBase

<PageTitle>MyBlazorApp</PageTitle>

<div class="page">
    <BlazoredToasts />
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>